@font-face {
    font-family: "formula1-regular";
    src: url("fonts/formula1-regular-webfont.woff2") format("woff2"),
        url("fonts/formula1-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "formula1-regular" !important;
}

h1 {
    padding: 20px 0;
}

.list-group .list-item-hover:hover {
    background-color: #e10600 !important;
    color: white !important;
}

.custom-space {
    margin-bottom: 50px;
}
tbody {
    font-size: 16px;
}

thead {
    font-size: 20px;
}
.list-group > a {
    padding: 8px;
}

.card-custom {
    width: 100%;
}

/* Optional: Custom CSS to adjust padding */
.card-body .list-group {
    padding-left: 0; /* Remove left padding */
}

th {
    width: auto;
}

.bg-image {
    background-image: url(../images/max.png); /* Placeholder image URL */
    background-size: cover; /* Cover the entire element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100vh; /* Full height */
    width: 100%; /* Full width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.list-group-nested .list-group-item {
    list-style: none !important;
    border: none;
}

.team-name {
    text-decoration: und;
}

.accordion-header {
    --bs-accordion-btn-bg: #f35754;
    --bs-accordion-active-bg: #d9312e;
    --bs-accordion-active-color: white;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-color: white;
}

p {
    margin: 0;
}
